.footer-bg {
  background-color: #cee1dc;
  color: #6a747c;
  a {
    color: #6a747c;
  }
}
.footer-top {
  button[type="submit"] {
    font-family: "Bebas Neue", cursive;
    background-color: #fe715e;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  p,
  li {
    a {
      display: inline-block;
      padding: 5px 0;
    }
  }
}
.seal-logos {
  img {
    max-height: 70px;
    max-width: 87px;
    margin: 0 11px;
  }
}
.footer-brands {
  background-color: #6fae9f;
  img {
    max-width: 115px;
    margin: 0 20px;
  }
}
.page-footer__brand {
  @include hover-content() {
    opacity: 0.75;
    @include transition();
  }
}
/* social */
.social-icons {
  svg {
    fill: #fff;
    height: 20px;
    width: 20px;
  }
  a {
    height: 35px;
    width: 35px;
    background-color: #6fae9f;
    margin: 0 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition();
    @include hover-content() {
      background-color: #549586;
    }
  }
}
