body {
  font-family: "Montserrat", sans-serif;
  @apply text-gray-100;
  a {
    @apply text-green-100;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
  @apply text-gray-100;
}
.main-menu {
  font-family: "Bebas Neue", cursive;
}

.heading-font {
  font-family: "Bebas Neue", cursive;
}
.header-top {
  @apply bg-gray-100;
  a {
    @apply text-white;
  }
}
.secondary-color {
  @apply text-red-100;
}
.primary-bg {
  @apply bg-green-100;
}
.primary-color {
  @apply text-green-100;
}
a {
  @apply text-green-100;
}
.primary-border-color {
  @apply border-teal-100;
}
