body {
  min-height: 100%;
  @include font-mont();
  @apply bg-white overflow-y-auto text-gray-100 text-sm font-medium;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  letter-spacing: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  @include font-mont();
  @apply text-gray-100;
  a {
    @apply text-green-100;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-bn();
  @apply text-gray-100;
}
.heading {
  @apply mb-4 font-light text-green-50 text-5xl;
  @include font-bn();
  font-size: 45px;
}
.main-menu {
  @include font-bn();
}

.heading-font {
  @include font-bn();
}
.header-top {
  @apply bg-gray-100;
  a {
    @apply text-white;
  }
}
.secondary-color {
  @apply text-red-100;
}
.primary-bg {
  @apply bg-green-100;
}
.primary-color {
  @apply text-green-100;
}
a {
  @apply text-green-100;
}
.primary-border-color {
  @apply border-teal-100;
}
select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  appearance: none;
}
