.dropdown {
  @include hover-content() {
    .dropdown-menu {
      display: block;
    }
  }
  .dropdown-menu {
    box-shadow: 1px 1px 5px -1px rgba(106, 116, 124, 0.25);
    min-width: 120px;
  }
}

/* cart icons */

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.svg-icon--page-header-cart {
  width: 28px;
  height: 28px;
}
.svg-icon--secondary-color {
  fill: #6eae9f;
}
.page-header__cart-count {
  width: 18px;
  height: 18px;
  font-size: 10px;
  line-height: 16px;
  border-radius: 50%;
}
.page-header__cart {
  .cls-1 {
    fill: #eabd00;
  }
  .cls-2 {
    fill: #ffce00;
  }
  .cls-3 {
    fill: #72a000;
  }
  .cls-4 {
    fill: #328e64;
  }
  .cls-5 {
    fill: #4aa881;
  }
  .cls-6 {
    fill: #74a300;
  }
}

/* megamenu */

.primary-nav__content {
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 3px 3px -1px rgb(106 116 124 / 25%);
}
li.mega-menu-items {
  @include hover-content() {
    .primary-nav__content {
      display: flex;
    }
  }
}

.nav-content-block__button {
  a {
    border-radius: 0 0 4px 4px;
    font-family: "Bebas Neue", sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

img.nav-content-block__image {
  border-radius: 4px 4px 0 0;
  // height: 160px;
}
