[v-cloak] {
  display: none;
}
a {
  outline: none;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    outline: none;
    text-decoration: none;
  }
}
button {
  outline: none;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    outline: none;
    text-decoration: none;
  }
}
input {
  outline: none;
  &:hover,
  &:focus,
  &:active,
  &:visited {
    outline: none;
  }
}
/*helper class*/

.hide {
  display: none;
}

/*preview bar disable*/
iframe#preview-bar-iframe {
  display: none;
}
/*body overflow disable*/
body {
  overflow-x: hidden !important;
}

/* reset */

ul,
li {
  list-style: none;
}

/* override container width */
.container {
  @apply max-w-screen-xl;
  @include respond-to(xipad) {
    max-width: 98%;
  }
}
