/* breadcrumbs */
.breadcrumbs__link {
  @apply text-xs;
  @apply text-gray-100;
  text-decoration: none;
}
.breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-child):after {
  content: ">";
  font-weight: 500;
  padding: 0 5px;
  @apply text-xs;
}

.breadcrumbs__link[aria-current="page"] {
  color: inherit;
  font-weight: normal;
  @include transition();
  @include hover-content() {
    text-decoration: underline;
    @apply text-green-100;
  }
}
