.product-detail-container__body {
  ul {
    margin: 0 0 16px 16px;
    padding: 0 0 0 16px;
    list-style: disc;
  }
  li {
    list-style: disc;
    @apply text-sm;
  }
}

/* quantity break */
.product-details__quantity-pricing {
  overflow: auto;
}
.table--enhanced {
  position: relative;
  width: auto;
  font-size: 12px;
  background: #ffffff;
  border: 1px solid #6a747c;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 4px;
  th {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    border-right: 1px solid #6a747c;
  }
  td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }
  tr {
    &:first-child {
      th {
        border-radius: 4px 0 0;
      }
      &::after {
        border-bottom: transparent;
      }
    }
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #6a747c;
      content: " ";
    }
  }
}
.table {
  tr {
    border-bottom: 1px solid #a6acb0;
    &:last-child {
      border-bottom: transparent;
    }
  }
  th {
    padding: 8px;
    font-weight: 700;
    background: #f2f3f3;
  }
}
figure.zoom {
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  img {
    @apply block w-full transition-opacity duration-100;
    @include hover-content() {
      @apply opacity-0;
    }
  }
}

.configurator-options__steps {
  @include respond-to(large) {
    @apply right-0 bottom-0 left-0 border-none transition-transform duration-200;
  }
}
